{% load static %}
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form</title>
      <link rel="stylesheet" href="{% static 'sstyle.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>

      <div class="login-form">
         <div class="text">
            LOGIN FORM
         </div>
         {% if msg %}
    <h1 style="color: green;">{{msg}}</h1>
{% endif %}
         <form method='POST' action="/login_data/">
            {% csrf_token %}
            <div class="field">
               <div class="fas fa-envelope"></div>
               <input type="text" name='email' placeholder="Email">
            </div>
            <div class="field">
               <div class="fas fa-lock"></div>
               <input type="password" name='password' placeholder="Password">
            </div>
            <button>LOGIN</button>
            <div class="link">
               Not a member?
               <a href="/">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>
